@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: witcher;
  src: url(thewitcher-4.ttf);
}

:root {
  --border-radius: 0.6rem;
  --text-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  font-family: witcher;
  margin-left: auto;
  margin-right: auto;
}

html {
  scroll-behavior: smooth;
}
/* header */
.header {
  background-color: rgb(16, 90, 56);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: white;
  font-size: 1.6rem;
}
/* start page */
.home {
  background-image: url(images/background.jpg);
  background-color: rgb(70, 2, 2);
  height: 100vh;
}

.gwent-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.start-button {
  font-family: witcher;
  height: 5rem;
  width: 8rem;
  font-size: larger;
  cursor: pointer;
  color: rgb(70, 2, 2);
  background-color: #fff;
  margin-top: 5rem;
  padding-top: 1rem;
  justify-content: center;
  text-align: center;
  display: flex;
}

.start-button:hover {
  color: white;
  background-color: rgb(70, 2, 2);
  box-shadow: 3px 0px 2px hsl(0, 0%, 0%);
}
/* footer */
.footer {
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template: 1fr 3fr 1fr;
  gap: 1rem;
  background-color: rgb(70, 2, 2);
  font-size: 1.6rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: rgb(196, 196, 196);
  font-size: 1.6rem;
  /* margin-top: 9.9rem; */
}

.footer > div {
  gap: 1rem;
}

.footer a {
  color: rgb(196, 196, 196);
}

.footer a:visited {
  color: rgb(196, 196, 196);
}

.footer a:hover {
  color: rgb(255, 255, 255);
}

/* loading,error,not found */
.loading,
.error,
.not-found {
  min-height: 80vh;
  flex-direction: column;
  gap: 2rem;
  background-color: black;
  display: grid;
}

.loading__logo {
  min-height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  margin-top: 2em;
}

.error__logo {
  min-height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 2em;
}

.not-found__logo {
  min-height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 2em;
}

.loading__body,
.error__body,
.not-found__body {
  font-size: 1.5rem;
  color: aliceblue;
  align-items: center;
}

.not-found > a {
  font-size: 1.8rem;
  color: #262c3a;
  padding: 0.2rem 0.7rem;
  border-radius: var(--border-radius);
  transition: all 0.2s linear;
  background-color: #fff;
  display: flex;
  width: 14rem;
  align-items: center;
  margin-bottom: 2rem;
}

.not-found > a:hover {
  background-color: rgb(16, 90, 56);
  color: #fff;
}
.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* mobile */



/* MAIN SECTIONS */

.player-board{
  width: 80vw;
  margin: 2rem auto;
}

.player__header{
  background-color: rgb(181, 163, 135);
  width: fit-content;
  padding: 1rem;
  margin: 0 0 2rem 0;
}

.player__footer{
  display: flex;
  justify-content: flex-end;
}

#goBack-btn{
  margin-right: auto;
}

.player__button{
  margin: 0;
  width: fit-content;
  padding: 1rem;
  background-color: rgb(181, 163, 135);
  cursor: pointer;
}

.game-board{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 100vh;
  padding: 1vh;
}


@media (max-width: 600px) {
  .gwent-logo {
    font-size: 5em;
  }
}

@media (max-width: 450px) {
  .gwent-logo {
    font-size: 4.5em;
    top: 20vh;
  }
}

@media (max-width: 370px) {
  .gwent-logo {
    font-size: 4em;
    top: 15vh;
  }
}
