.leftPanel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid;
}

.player {
  width: 100%;
  height: 25vh;
  background-color: bisque;
}

.playerSwitch {
  height: 4rem;
  width: 8rem;
  font-size: larger;
  cursor: pointer;
  color: rgb(70, 2, 2);
  background-color: #fff;
  padding-top: 2vh;
  display: flex;
  border-radius: 5px;
}

.playerSwitch:hover {
  background-color: rgb(70, 2, 2);
  color: azure;
}
